<html>
  <head>
    <title>Slack Tagger</title>
    <link rel="stylesheet" href="/css/screen.css" media="screen" charset="utf-8">
  </head>

  <body>
    <form action="/" method="get">
      <label for="url">Pick a URL, such as </label>
      <input type="text" name="url" value="<%= params[:url] %>">

      <label for="tag">and highlight tags named</label>
      <input type="text" name="tag" value="<%= params[:tag] %>">
      <input type="submit" value="go">
    </form>

    <% if @elements %>
      <div class="page-stats">
        <p><strong><%= params[:url] %></strong> is made of tags! Here's how many of each:</p>
        <p>
          <% @elements.sorted_stats.each do |tag_val| %>
            <% highlight_class = tag_val[0] == params[:tag] ? "highlight-tag" : "" %>
            <span class="<%= highlight_class %>">
              <a href="/?url=<%= params[:url] %>&tag=<%= tag_val[0] %>"><%= tag_val[0] %></a> <%= tag_val[1] %>
            </span>
          <% end %>
        </p>
        <% if params[:tag] %>
          <p><code><%= params[:tag] %></code> elements are highlighted below.</p>
        <% else %>
          <p>Click on one to see where it's used below.</p>
        <% end %>
      </div>

      <div class="page-source">
        <%= @elements.rerendered_html %>
      </div>
    <% end %>
  </body>
</html>
