<html>
  <head>
    <script src="//use.typekit.net/gnl3kzb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <title>Slaggtacker</title>
    <link rel="stylesheet" href="/css/screen.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="meta">
      <form action="/" method="get">
        <label for="url">Enter a URL</label>
        <input type="text" id="url" name="url" value="<%= params[:url] %>">

        <!-- <label for="tag"> and a tag</label> -->
        <input type="hidden" id="tag"  name="tag" value="<%= params[:tag] %>">

        <input type="submit" value="Go">
      </form>

      <% if @errors && @errors.length > 0 %>
        <div class="errors">
          <% @errors.each do |error| %>
            <p><%= error %></p>
          <% end %>
        </div>
      <% end %>

      <% if @elements %>
        <div class="page-stats">
          <p>Look at all the tags we found! See how

            <!-- <a href="/?url=<%= params[:url] %>&tag=<%= params[:tag] %>"> -->
              <span class="highlight-tag"><%= params[:tag] %></span>
            <!-- </a> -->

            is highlighted? Click on any tag to see it highlighted in the source below.</p>
          <p>
            <% @elements.sorted_stats.each do |tag_val| %>
              <% highlight_class = tag_val[0] == params[:tag] ? "highlight-tag" : "" %>
              <a href="/?url=<%= params[:url] %>&tag=<%= tag_val[0] %>">
                <span class="<%= highlight_class %>"><%= tag_val[0] %></span> <%= tag_val[1] %>
              </a>
            <% end %>
          </p>
        </div>

        <div class="note">Aside from the highlighting this is the raw HTML exactly as we found it</div>

        <div class="page-source">
          <%= @elements.rerendered_html %>
        </div>
      <% end %>
    </div>
  </body>
</html>
